<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Refresh" content="{{sec}}" />
  <style type="text/css">
    #centerLayer {
     margin-left: 30%; /* Отступ слева */
     width: 40%; /* Ширина слоя */
     background: #fc0; /* Цвет фона */
     padding: 10px; /* Поля вокруг текста */
    }
   </style>
</head>
<body>
  <form name="myform" action="/restart" method="post">
    <p>Автообновление через: <input type="text" name="delay" /> секунд *Текущее значение {{sec}} секунд</p>
    <p>
      <input type="submit" name="send" value="Сохранить" />
    </p>
  </form>
</body>
</html>